@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'inter';
}

#main,
a {
  background: #303030;
  color: white;
  padding: 0.5%;
  font-size: 25px;
  font-weight: 600px;
  font-family: 'inter';
  display: flex;
}

.textMain {
  text-decoration: none;
}

.textMain:hover {
  transition: .2s;
  text-decoration-color: #3b82f6;
  font-weight: bold;
}

.textMain:hover {
  color: #0053d8ce;
}

#menu {
  text-align: center;
  margin-top: 1.4%;
  display: flex;
  width: 55%;
  justify-content: space-around;
  /* dividir de forma igualitaria dentro da div */
}

#firstButton {
  font-family: 'inter';
  margin-top: 1%;
  margin-left: 38%;
  margin-bottom: 2%;
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: .3s;
  cursor: pointer;
}

#firstButton:hover {
  font-weight: bold;
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}

#information {
  text-align: center;
  background-color: #303030;
  background: linear-gradient(180deg, #0b57bbfb 50%, rgba(48,48,48,1) 100%);
  padding: 2%;
  padding-bottom: 5%;
  margin-top: 1px;
  
}
#information>p{
  font-family: 'inter';  
  font-weight: 400px;
  font-size: 40px;
  line-height: 48.41px;
  color: #FFFFFF;
}
#information>h1 {
  font-family: 'inter';
  font-size: 80px;
  font-weight: 800;
  line-height: 96.82px;
  color: #FFFFFF;
}
span{
  font-weight: 700;
  background-color: #303030;
}
#loginPage{
  padding-top: 5%;
  background-color: #303030;
  padding-left: 34%;
  padding-right: 34%;
  text-align: left;
}
.inputText{
  background: #FFFFFF;
  border: none;
  outline: none;
  width: 95.5%;
  padding: 15px;
  font-size: 100%;
  border-radius: 10px;
  box-shadow: inset 2px 5px 10px rgb(146, 146, 146);
  margin-bottom: 5%;
}
#longinPage,label,p{
  color: #FFFFFF;
  font-size: 'inter';
  font-weight: 600;
  line-height: 36.31px;
}
#secondButton{
  font-family: 'inter';
  margin-top: 5%;
  margin-bottom: 40%;
  background-color:  #3b82f6;
  color: #f3f7fe;
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 45px;
  transition: .3s;
  cursor: pointer;
}

#secondButton:hover {
  font-weight: bold;
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}
.formGroup{
  font-size: 30px;
}
#checkboxItens label{
  font-size: 25px;
}
#checkboxItens{
  display: flex;
  text-align: center;
  justify-content: space-between ;
}
input[type="checkbox"]{
  transform: scale(1.5);
  cursor: pointer;
}
#email{
  margin-top: 4%;
}



footer{
  margin-top: -1%;
  background-color: #0C70F2;
  display: flex;
  justify-content: space-around;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}
footer, a{
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
  line-height: 30.26px;
  background-color: #0C70F2;
  margin-bottom: 4%;
}
footer, ul{
  list-style: none;  
}
footer ul li{
  text-align: center;
}
footer nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#company{ 
  margin-top: 5%;
  font-weight: 800;
  font-size: 20px;
  line-height: 24.2px;
}
footer h3{
  font-weight: 800;
  font-size: 25px;
  line-height: 30.26px;
  color: white;
  border-radius: 10px;
  text-align: center;
  background-color: #303030;
  padding: 3%;
}
#conclusion{
  background-color: #0C70F2;
  margin-top: -4%;
  text-align: center; 
  margin-bottom: -1000%;
}
#error{
  text-align: center;
  margin-left: 1%;
}
